<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Jogador</label>
        <input type="text" name="text" id="text" [(ngModel)]="nome" placeholder="Nome do jogador">
    </div>
    <div class="form-control">
        <label for="day">Nível</label>
        <input type="number" min="1" max="10" name="day" id="day" [(ngModel)]="nivel" placeholder="Nível do jogador">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Incluir no sorteio?</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder" placeholder="Checkbox">
    </div>

    <input type="submit" value="Adicionar jogador" class="btn btn-block">
</form>
